body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    background-color: red;

}
#label{
    background-color: black;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 25px;
}
#col{
    color: rgb(150, 150, 255);
}
#btn{
    background-color: transparent;
    font-size: 20px;
    margin-top: 20px;
}
